NODE_ENV=development
PORT=3000
POSTGRES_USER=appname
POSTGRES_PASSWORD=apppw
POSTGRES_DB=appdb
POSTGRES_PORT=5432
DATABASE_URL=postgresql://appname:apppw@localhost:5432/appdb?schema=public
SESSION_SECRET=random 32 char string